div {
    border-style: solid;
    border-color: black;

    margin: 1%;
}

span {
    display: inline-block;
    margin-left: 40px;
}

#form1 {
   margin: 1% 1% 5% 1%;

   border-style: none;
   /* border-color: green; */
}